.vagrant
composer.phar
composer.lock
bin
vendor/
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
app/phpunit.xml
web/bundles/
!**/.gitkeep

src/Conticket/OAuthBundle/Resources/config/parameters.yml